.app__reservation-item{
    align-self: center;
    justify-self: center;
}
.app__reservation_img img{
    border: solid 1.1vw #DCCA87;
}
.inputNumber{
    font-size: large;
    height: 4em;
    width: 4em;
    background-color:var(--color-grey);
}