.app__reservation-item{
    align-self: center;
    justify-self: center;
}
.app__reservation_img img{
    border: solid 1.1vw #DCCA87;
}
input{
    font-size: large;
    background-color: lightgrey;
    height: 4vw;
    margin: 1vw;
    border-radius: 5px;
}
.inputText{
    width: 30vw;
}
.inputText:focus{
    background-color: var(--color-white);
}